*~

# FORTRAN stuff
*.o
*.smod


*.tar.gz
*.tar.xz

# Python stuff
__pycache__/
.ipynb_checkpoints


# Emacs stuff
*#*
.#*


# laTeX stuff
*.aux
*.bbl
*.blg
*.toc
*.out
*.data
*.log
*.el
*.synctex.gz

# MESA data files
*..npy
*.pickle
*.mod
*.data

manuscript/comments/*
manuscript/.DS_Store

# frames of movies
movie/*/*.png
movie/*.png

*_*
*.DS*

CLEAN/*.tar.xz
